!!!
%html{lang: "en"}
  %head
    %title {Title}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0,shrink-to-fit=no"}
    %link{:href => "http://dev2.rytis.biz/master.css", :rel => "stylesheet", :type => "text/css"}    
    %script{src: "//use.typekit.net/bfy4eah.js"}
    %script try{Typekit.load();}catch(e){}
  %body
    .site-title
      %h1 rytis bizauskas
    %nav
      %ul.menu-group
        %li
          %a{:href => "http://dev2.rytis.biz/index.html"} home
        %li
          %a{:href => "http://dev2.rytis.biz/portfolio.html"} portfolio
        %li
          %a.active-tab{:href => "http://luxapto.tumblr.com"} blog

        




