/*
	modularscale.com 
	1.6 ratio

	6.554em
	4.096em
	2.56em
	1.6em
	1em
	0.625em
	0.391em
	0.244em
*/

body {
	font-family: sans-serif;
}

h1 {
	font-family: "brandon-grotesque", sans-serif;
	font-size: 2.56em;
	padding: 1em 1em 1em 1em;
	color: #514ca9;
}

ul {
	list-style-type: none;
	padding: 0em 0em 0em 2.56em;
	text-align: center;
	overflow: hidden;
	background-color: #514ca9;
}

li {
	float: left;
}

li a {
	display: inline-block;
	padding: 1em 1em 1em 0em;
	text-decoration: none;
	color: white;
}

.lead {
	margin-top: 2.56em;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

.lead-text {
	margin-right: 2.56em;
}

.lead-image {
	margin-left: 2.56em;
	padding-right: 2.56em;
}

.lead-text p {
	line-height: 1.6em;
	color: #404040;
}

.lead-image img {
	display: block;
	max-width: 100%;
}

.flexbox .lead {
	display: flex;
	flex-direction: row;
}

.flexbox .lead-image {
	min-width: 50%;
	width:auto;
	flex-basis: 50%;
}

.flexbox .lead-text {
	position: static;
	width: auto;
	flex-basis: 50%;
}

@media screen and (min-width: 33em) {
	.lead-image {
		flex: 1 0 50%;
		min-width: 50%;
	}
	.lead-text {
		flex: 1 0 50%;
		min-width: 50%;
	}
}

