/* http://meyerweb.com/eric/tools/css/reset/ 
 *    v2.0 | 20110126
 *       License: none (public domain)
 *       */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
	modularscale.com 
	1.6 ratio

	6.554em
	4.096em
	2.56em
	1.6em
	1em
	0.625em
	0.391em
	0.244em
*/

body {
	font-family: sans-serif;
}

.site-title h1 {
	font-family: "brandon-grotesque", "Verdana", "Arial", sans-serif;
	font-size: 2.56em;
	padding: 1em 1em 1em 1em;
	color: #514ca9;
	text-align: center;
}

.portfolio-heading h1 {
	font-family: "brandon-grotesque", "Verdana", "Arial", sans-serif;
	font-size: 2.56em;
	padding: .625em;;
	color: #514ca9;
	text-align: center;
}

.contact h1 {
	font-family: "brandon-grotesque", "Verdana", "Arial", sans-serif;
	font-size: 1.6em;
	padding: .625em;;
	color: #514ca9;
	text-align: center;
	
}
.portfolio-text h2 {
	font-family: "brandon-grotesque", "Verdana", "Arial", sans-serif;
	font-size: 1.6em;
	padding-left: 1.6em;
	padding-bottom: .391em;
	color: #514ca9;
	text-align: left;
}


ul li {
  display: inline;
  list-style-type: none;
}
ul {
	text-align: center;
  margin: 0 auto;
	overflow: hidden;
  background-color: #514ca9;
}

li a {
	display: inline-block;
	padding: 1em .625em 1em .625em;
	text-decoration: none;
	color: white;
}

a.active-tab {
	background-color: rgb(55, 52, 119);
}

.lead {
	margin-top: 2.56em;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2.56em;
	padding-right: 2.56em;
}

.lead-text p {
	line-height: 1.6em;
	color: #404040;
	padding-left: 2.56em;
	padding-bottom: 2.56em;
}


.portfolio-group{
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-left: 2.56em;
	padding-right: 2.56em;
}

.portfolio-text p {
	line-height: 1.6em;
	color: #404040;
	padding-left: 2.56em;
	padding-bottom: 2.56em;
}

.custom-button  {
	color: white;
	background-color: #514ca9;
	font-size: 1em;
	padding: .625em;
	margin-top: 1em;
	border: none;
	border-radius: .425em;
}

a.custom-button:link {
	text-decoration: none;
}

a.custom-button:hover {
	background-color: rgb(55, 52, 119);
} 


.lead-image img {
	display: block;
	max-width: 100%;
}

.portfolio-image img{
	float: right;
	padding-bottom: 1em;
}

.flexbox .lead {
	display: flex;
	flex-direction: row;
}

.flexbox .lead-image {
	min-width: 50%;
	width:auto;
	flex-basis: 50%;
}

.flexbox .lead-text {
	position: static;
	width: auto;
	flex-basis: 50%;
}

.flexbox .portfolio-group{
	display: flex;
	flex-direction: row;
}

.flexbox .portfolio-image {
	min-width: 50%;
	width:auto;
	flex-basis: 50%;
}

.flexbox .portfolio-text {
	position: static;
	width: auto;
	flex-basis: 50%;
}
@media screen and (max-width: 40em) {
	.lead-image {
		flex: 1 0 50%;
		min-width: 50%;
		display: none;
	}

	.lead-text p {
		padding-left: 0;
	}

	.lead-text {
		flex: 1 0 50%;
		min-width: 50%;
	}

	.flexbox .portfolio-group {
		flex-direction: column;
		align-items: center;
	}	
	.portfolio-image {
		flex: 1 0 50%;
		min-width: 50%;
	}

	.portfolio-image img {
	}


	.portfolio-text p, .portfolio-text h2 {
		text-align: center;
		padding-left: 0em;

	}

	.portfolio-text {
		flex: 1 0 50%;
		min-width: 50%;
		padding-top: 1em;
	}
}

